.lll {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
  font-size: 21pt !important;
  height: 100%;
  width: 100%;
}

.ccc {
  background-color: red !important;
}