<ion-header>
  <ion-toolbar>
    <header></header>
  </ion-toolbar>
</ion-header>

<ion-content class="select-shava">
  <div class="custom-slider">
    <ion-slides (ionSlideDidChange)="slideChanged()" (ionSlideTap)="slideTap($event)" [options]="slideOpts" class="slider-wrapper">
      <ion-slide class="slide-item" *ngFor="let shawa of shawas">
        <div class="title-shava">{{shawa.name}}</div>
        <img class="image-shava" src="{{shawa.img}}">
        <div class="desc-shava">{{shawa.description}}</div>
        <div class="weight-shava">{{shawa.price}} грн</div>
      </ion-slide>
    </ion-slides>
    <div class="slide-back" (click)="slideBack()"><ion-icon name="ios-arrow-back"></ion-icon></div>
    <div class="slide-forward" (click)="slideForward()"><ion-icon name="ios-arrow-forward"></ion-icon></div>
  </div>
  
  <div class="wrapper-for-details">
    <div class="detail-count">
      <div class="title">Количество:</div>
      <div class="forming-count">
        <div class="count-control" (click)="generateCount('-')">
          <div class="control-bg"></div>
          <div class="control-content">-</div>
        </div>
        <div class="count-value">{{counter}}</div>
        <div class="count-control" (click)="generateCount('+')">
          <div class="control-bg"></div>
          <div class="control-content">+</div>
        </div>
      </div>
    </div>
    <div class="detail-price">
      <div class="title">Цена с доставкой:</div>
      <div class="price-value">{{price}} грн</div>
    </div>
  </div>
  <ion-button (click)="nextStep()" class="want-button" disabled="{{!counter ? 'true' : 'false'}}">Хочу эту шаву</ion-button>
</ion-content>
