@mixin flex($direction, $align, $justify){
  display: flex;
  @if $direction { flex-direction: $direction; }
  @if $align { align-items: $align; }
  @if $justify { justify-content: $justify; }
}
@mixin font($weight, $size, $color){
  font-family: 'Montserrat';
  @if $weight { font-weight: $weight; }
  @if $size { font-size: $size; }
  @if $color { color: $color }
}

.cooking {
  .wrapper-for-content {
    width: 100%;
    height: 80%;
    @include flex(column, center, center);
    .img { }
    .title {
      margin: 40px 0px 50px 0px;
      @include font(700, 15pt, #3A1E02);
    }
    .action {
      @include font(700, 15pt, #84CE5F);
    }
  }
}