<ion-header>
  <header></header>
</ion-header>

<ion-content class="orders">
  <div class="category-order">
    <div class="title">
      Новый вкусный заказ
    </div>
    <div class="order">
      <div class="row">
        <div class="date-r">19.09.19 в 19:00</div>
      </div>
      <div class="row">
        <div class="title-r">Шаурма такая-то</div>
        <div class="value-r">1</div>
      </div>
      <div class="row">
        <div class="title-r">Шаурма такая-то</div>
        <div class="value-r">1</div>
      </div>
      <div class="row">
        <div class="title-p">Цена с доставкой:</div>
        <div class="value-p">140 грн</div>
      </div>
    </div>
  </div>

  <div class="category-order">
    <div class="title">
      Скоро будет сьедено
    </div>
    <div class="order">
      <div class="row">
        <div class="date-r">19.09.19 в 19:00</div>
      </div>
      <div class="row">
        <div class="title-r">Шаурма такая-то</div>
        <div class="value-r">1</div>
      </div>
      <div class="row">
        <div class="title-r">Шаурма такая-то</div>
        <div class="value-r">1</div>
      </div>
      <div class="row">
        <div class="title-p">Цена с доставкой:</div>
        <div class="value-p">140 грн</div>
      </div>
    </div>
  </div>

  <div class="category-order">
    <div class="title">
      Доставляется, готовьте зубы
    </div>
    <div class="order">
      <div class="row">
        <div class="date-r">19.09.19 в 19:00</div>
      </div>
      <div class="row">
        <div class="title-r">Шаурма такая-то</div>
        <div class="value-r">1</div>
      </div>
      <div class="row">
        <div class="title-r">Шаурма такая-то</div>
        <div class="value-r">1</div>
      </div>
      <div class="row">
        <div class="title-p">Цена с доставкой:</div>
        <div class="value-p">140 грн</div>
      </div>
    </div>
  </div>

  <div class="category-order">
    <div class="title">
      Доставлено и сьедено
    </div>
    <div class="order"></div>
    <div class="order">
      <div class="row">
        <div class="date-r">19.09.19 в 19:00</div>
      </div>
      <div class="row">
        <div class="title-r">Шаурма такая-то</div>
        <div class="value-r">1</div>
      </div>
      <div class="row">
        <div class="title-r">Шаурма такая-то</div>
        <div class="value-r">1</div>
      </div>
      <div class="row">
        <div class="title-p">Цена с доставкой:</div>
        <div class="value-p">140 грн</div>
      </div>
    </div>
  </div>
</ion-content>
