<ion-header>
  <header></header>
</ion-header>

<ion-content class="home">
  <div class="form-wrapper">
    <div class="address-data data">
      <div class="title">Доставим сюда:</div>
      <ion-input class="custom-input" [(ngModel)]="address"></ion-input>
    </div>
    <div class="phone-data data">
      <div class="title">Как с тобой связаться?</div>
      <ion-input type="number" class="custom-input" placeholder="+380 00 00 00 000"></ion-input>
    </div>

  </div>
  <item-map class="map-1" appId="APP-ID-HERE" appCode="APP-CODE-HERE"></item-map>
  <ion-button type="number" class="want-button">Да-да быстрее!</ion-button>
</ion-content>
